#about {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;
  padding: 50px 10px;

  @media (min-width: 780px) {
    flex-direction: row;
    gap: 50px;
    padding: 100px 50px;
  }

  @media (min-width: 1024px) {
    justify-content: space-around;
    padding: 100px 50px;
  }
}

.about__introduction {
  max-width: 500px;
}


.about__profile {
  border-radius: 20px;
  width: 200;
  height: 220px;
  object-fit: cover;
}
